.banner {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: url('http://unsplash.it/1200x800');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #297A6D, #ff5a5f);
    opacity: 0.65;
}

.banner__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

h1, h3 {
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    font-weight: 100;
}