.topBar {
    flex: 1;
}

.navButtons {
    display: flex;
}

.pearLogo {
    max-height: 40px;
}

.loginModal {
    max-width: 100%;
}

a {
    color: #ff5a5f;
}

.input {
    width: 100%;
}

.nav {
    z-index: 1;
}
